<h2>Products</h2>
<table class="table table-stripped">
    <thead class="table-dark">
        <tr>
            <th></th>
            <th></th>
            <th>Name</th>
            <th>Price</th>
        </tr>
    </thead>

    <tbody>
        <tr *ngFor="let product of products">
            <td>
                <!-- can't seem to get this relative url path to work -->
                <img src="{{ product.imageUrl }}" style="width: 50px;" />
            </td>
            <td>
                {{ product.imageUrl }}
            </td>
            <td>
                {{ product.name }}
            </td>
            <td>
                {{ product.unitPrice | currency:'USD'}}
            </td>
        </tr>
    </tbody>
</table>