<div class="main-content">
    <div class="section-content section-content-p30">
        <div class="container-fluid">
            <form [formGroup]="checkoutFormGroup" (ngSubmit)="onSubmit()">
                <h3>Customer</h3>
                <div formGroupName="customer" class="form-area"> 
                    <div class="row">
                        <div class="col-md-2"><label for="customerFirstName">First Name</label></div>
                        <div class="col-md-9">
                            <div class="input-space">
                                <input type="text" formControlName="firstName" id="customerFirstName">
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-2"><label for="customerLastName">Last Name</label></div>
                        <div class="col-md-9">
                            <div class="input-space">
                                <input type="text" formControlName="lastName" id="customerLastName">
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-2"><label for="customerEmail">Email</label></div>
                        <div class="col-md-9">
                            <div class="input-space">
                                <input type="text" formControlName="email" id="customerEmail">
                            </div>
                        </div>
                    </div>
                </div>
                
                <h3>Shipping Address</h3>
                <div formGroupName="shipping" class="form-area"> 
                    <div class="row">
                        <div class="col-md-2"><label for="shippingCountry">Country</label></div>
                        <div class="col-md-9">
                            <div class="input-space">
                                <select formControlName="country" id="shippingCountry" (change)="getStates('shipping')">
                                    @for (country of countries; track $index) {
                                        <option>{{ country.name }}</option>
                                    }
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-2"><label for="shippingStreet">Street</label></div>
                        <div class="col-md-9">
                            <div class="input-space">
                                <input type="text" formControlName="street" id="shippingStreet">
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-2"><label for="shippingCity">City</label></div>
                        <div class="col-md-9">
                            <div class="input-space">
                                <input type="text" formControlName="city" id="shippingCity">
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-2"><label for="shippingState">State</label></div>
                        <div class="col-md-9">
                            <div class="input-space">
                                <select formControlName="state" id="shippingState">
                                    @for (state of shippingAddressStates; track $index) {
                                        <option>{{ state.name }}</option>
                                    }
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-2"><label for="shippingZip">ZIP</label></div>
                        <div class="col-md-9">
                            <div class="input-space">
                                <input type="text" formControlName="zip" id="shippingZip">
                            </div>
                        </div>
                    </div>
                </div>

                <div class="input-space">
                    <label class="au-checkbox">
                        <input type="checkbox" (change)="copyShipping($event)">
                        <span class="au-checkmark"></span>Billing Address same as Shipping Address
                    </label>
                </div>

                <h3>Billing Address</h3>
                <div formGroupName="billing" class="form-area"> 
                    <div class="row">
                        <div class="col-md-2"><label for="billingCountry">Country</label></div>
                        <div class="col-md-9">
                            <div class="input-space">
                                <select formControlName="country" id="billingCountry" (change)="getStates('billing')">
                                    @for (country of countries; track $index) {
                                        <option>{{ country.name }}</option>
                                    }
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-2"><label for="billingStreet">Street</label></div>
                        <div class="col-md-9">
                            <div class="input-space">
                                <input type="text" formControlName="street" id="billingStreet">
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-2"><label for="billingCity">City</label></div>
                        <div class="col-md-9">
                            <div class="input-space">
                                <input type="text" formControlName="city" id="billingCity">
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-2"><label for="billingState">State</label></div>
                        <div class="col-md-9">
                            <div class="input-space">
                                <select formControlName="state" id="billingState">
                                    @for (state of billingAddressStates; track $index) {
                                        <option>{{ state.name }}</option>
                                    }
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-2"><label for="billingZip">ZIP</label></div>
                        <div class="col-md-9">
                            <div class="input-space">
                                <input type="text" formControlName="zip" id="billingZip">
                            </div>
                        </div>
                    </div>
                </div>

                <h3>Credit Card</h3>
                <div formGroupName="payment" class="form-area"> 
                    <div class="row">
                        <div class="col-md-2"><label for="cardType">Card Type</label></div>
                        <div class="col-md-9">
                            <div class="input-space">
                                <select formControlName="type" id="cardType">
                                    <option>Visa</option>
                                    <option>Mastercard</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-2"><label for="cardName">Name on Card</label></div>
                        <div class="col-md-9">
                            <div class="input-space">
                                <input type="text" formControlName="name" id="cardName">
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-2"><label for="cardNumber">Card Number</label></div>
                        <div class="col-md-9">
                            <div class="input-space">
                                <input type="text" formControlName="number" id="cardNumber">
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-2"><label for="cardCVV">CVV</label></div>
                        <div class="col-md-9">
                            <div class="input-space">
                                <input type="text" formControlName="cvv" id="cardCVV">
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-2"><label for="cardMonth">Expiration Month</label></div>
                        <div class="col-md-9">
                            <div class="input-space">
                                <select formControlName="month" id="cardMonth">
                                    @for(month of creditCardMonths; track $index){
                                        <option>{{ month }}</option>
                                    }
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-2"><label for="cardYear">Expiration Year</label></div>
                        <div class="col-md-9">
                            <div class="input-space">
                                <select formControlName="year" id="cardYear" (change)="handleMonthsAndYears()">
                                    @for(year of creditCardYears; track $index){
                                        <option>{{ year }}</option>
                                    }
                                </select>
                            </div>
                        </div>
                    </div>
                </div>

                <h3>Review</h3>
                <div formGroupName="review" class="form-area">
                    <div class="row" style="font-weight: bold">
                        <p>Total Quantity: {{ quantity }}</p>
                        <p>FREE SHIPPING</p>
                        <p>Total Price: {{ total | currency:"USD"}}</p>
                    </div>
                </div>

                <div class="text-center">
                    <button type="submit" class="btn btn-info">Buy Now</button>
                </div>
            </form>
        </div>
    </div>
</div>